</br>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="total-orders">
                    <div class="card-header">
                        <h5 class="card-title">Total Ustad</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ ustadz }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="orders-delivered">
                    <div class="card-header">
                        <h5 class="card-title">Total Mahasantri</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ mahasantri }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>